[submodule "bundle/vim-colors-solarized"]
	path = pack/vim-colors-solarized/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = pack/vim-fugitive/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/a"]
	path = pack/a/start/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/actionscript"]
	path = pack/actionscript/start/actionscript
	url = git://github.com/vim-scripts/actionscript.vim--Leider.git
[submodule "bundle/ctrlp"]
	path = pack/ctrlp/start/ctrlp
	url = git://github.com/kien/ctrlp.vim
[submodule "bundle/matchit"]
	path = pack/matchit/start/matchit
	url = git://github.com/vim-scripts/matchit.zip
[submodule "bundle/syntastic"]
	path = pack/syntastic/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-ansible-yaml"]
	path = pack/vim-ansible-yaml/start/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "bundle/vim-vinegar"]
	path = pack/vim-vinegar/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
