[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/findstr"]
	path = bundle/findstr
	url = git://github.com/vim-scripts/findstr.vim.git
[submodule "bundle/a"]
	path = bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/actionscript"]
	path = bundle/actionscript
	url = git://github.com/vim-scripts/actionscript.vim--Leider.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip
[submodule "bundle/vim-haskellConceal"]
	path = bundle/vim-haskellConceal
	url = https://github.com/Twinside/vim-haskellConceal.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-hdevtools"]
	path = bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "bundle/vim-ansible-yaml"]
	path = bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
